#myNavbar {
    color: $color-white;
    background: transparent;
    width: 50px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

#mobileNav {
    z-index: 10;
}