.text-box {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  padding: 0;

    &:hover &__section--content{
    transition: max-height .25s linear, transform .25s;
    // -webkit-transition: max-height .25s;
    // -moz-transition: max-height .25s;
    //  -ms-transition: max-height .25s;
    //   -o-transition: max-height .25s;
    height: auto;
    max-height: 0rem;
    overflow: hidden;
    transform: scaleY(0)
  }

  &__section {
    overflow: hidden;
    border-bottom: 1px solid;
   

    &--title {
      font-weight: 700;
    }

    &--content {
      transition: max-height .25s linear, transform .25s;
      // -webkit-transition: max-height .25s;
      // -moz-transition: max-height .25s;
      //  -ms-transition: max-height .25s;
      //   -o-transition: max-height .25s;
      height: 25rem;
      max-height: 0rem;
      overflow: hidden;
      transform: scaleY(0)
    }

    &:hover  &--content, 
    &-default &--content{
      transition: max-height .25s linear, transform .25s;
      opacity: 1;
      height: 25rem;
      max-height: 25rem;
      transform: scaleY(1)

    }
  }

}

